body {
  background-color:wheat;
}

.overskrift{
  font-size: 4em;
  font-family:cursive;
  margin-top: 10px;
  margin-bottom: 1px;
  text-align:center;
}

.slogan{
  font-size: 1.5em;
  font-family: cursive;
  color: darkgreen;
  margin:0px;
  text-align:center;
}

.menulinje{
  font-size: 1.3em;
    background-color: darkolivegreen;
    margin: 2em;
    padding: .5em;
    color: darkolivegreen;
    border: 5px solid wheat;
    text-align:center;
}

.billede{
  margin: 3em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.map{
  margin: -15.8em 3em 0 0;
}

.tekst{
  margin: 0.5em 4em 0 0;
  float: right;
}

.spil{
  margin: -14.6em 3.5em 0 0;
  float: right;
  font-size: 1.3em;
  color: darkgreen;

}

*{
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  height: 50px;
  margin-top: -6em;
  margin-bottom: 2em;
  background-color: darkolivegreen;
  text-align: center;
}

u1{
}

u1 li{
  list-style: none;
  display: inline-block;
  line-height: 50px;
}

u1 li a{
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  background-color: darkolivegreen;
  margin: 1em;
}

u1 li a:hover{
  color: wheat;
}

.footer-main{
background: darkolivegreen;
color: white;
height: auto;
}

.kontakt{
  font-size: 21px;
}

.popd{
  font-size: 21px;
}

.pdt{
  text-align: center;
}

.pdo{
  text-align: center;
  color: darkolivegreen;
  font-size: 30px;
}

.ip{
  text-align: center;
  color: darkolivegreen;
  font-size: 30px;
}

.itp{
    text-align: center;
}

.cad{
  text-align: center;
  color: darkolivegreen;
  font-size: 30px;
}

.cad{

}

.paa{

}

.dar{
  
}

#kortspil {
  width: 100%;
  height: 500px;
}
